/*--------SECCION CONTACTO-----------*/
/*------------------------------------*/

/*Contenedor*/
#contenedor{
    display: flex;
    flex-direction: column;
}

.formulario{
    p{
        margin-left: 15%;
    }
}