 /*Barra de navegacion de BS*/
 
.nav-link{
    color:rgba(250,250,250,0.8);
    font-weight: 600;
    font-family: 'Overlock', cursive;
    font-size: 20px;
}

.nav-link:hover{
  color:rgb(250,250,250);
}

  
.dropdown-menu{
    color: rgba(250,250,250,0.8);
    font-weight: 600;
    font-family: 'Overlock', cursive;
    font-size: 20px;
}

