/* RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      }

body{
     background-color: #FBF2EF;
}

.container-fluid {
    height: 100%;
    padding: 0px;
    width: 100%;
  }


/* Top*/
.encabezado{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  padding: 1%;
}
.encabezado h1{
  color:#a27e70;
  font-family: 'Overlock', cursive;
  font-size: 70px;
  animation-duration: 3s;
  padding: 25px;
}

.encabezado img{
  width: 15%;
  height: 15%;
  margin-top: 20px;
  border-radius: 50%;
  filter:opacity(0.8);
  /*Animacion APARECER logo*/
  animation-duration: 2s;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

 /*Barra de navegacion de BS*/
 .nav-link{
  color: black;
  font-weight: 600;
  font-family: 'Overlock', cursive;
  font-size: 20px;
}

.dropdown-menu{
  color: black;
  font-weight: 600;
  font-family: 'Overlock', cursive;
  font-size: 20px;
}

/*Seccion AYUR*/
#ayur_titulo{
    width: 100%;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-top: 25px;
    background-color: #FBF2EF;
}

#ayur_titulo h1{
    font-family: 'Overlock', cursive;
    font-size: 80px;
    font-size: 4rem;
    margin-top: 50px;
}

#ayur{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FBF2EF;
}

#ayur_p{
    font-family: 'Overlock', cursive;
    font-size: 20px;
    text-align: justify;
    align-self: center;
    padding: 15px;
  }

  #ayur_p p{
    margin-left: 50px;
    padding: 15px;
  }
  
  #ayur_img{
    background-size: cover;
    padding: 15px;
    width: 50%;
    border-radius: 10px;
  }
  	
  #ayur_img:hover {filter: blur(2px);}

/*Beneficios*/

#beneficios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  background: #E8B39E;
  margin-top: 50px;
}

#beneficios h2{
  font-family: 'Overlock', cursive;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}

#beneficios P{
  font-family: 'Overlock', cursive;
  font-size: 20px;
  text-align: justify;
  padding: 15px;
}

#beneficios ul{
  margin-left: 30px;
  list-style-type: square;
  font-family: 'Overlock', cursive;
  font-size: 20px;
  text-align: justify;
}

#beneficios:hover {filter: drop-shadow(8px 8px 10px gray);}

/*Proverbio*/

.proverbio{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #91BC52;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.proverbio p{
    font-family: 'Overlock SC', cursive;
    font-size: 40px;
    text-align: center;
    align-self: center;
    padding: 15px;
}

.proverbio h3{
    font-family: 'Overlock', cursive;
    font-size: 28px;
    text-align: justify;
    align-self: center;
}

/*Seccion NUTRICION AYURVEDA*/
#nutri_titulo{
    width: 100%;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-top: 25px;
    background-color: #FBF2EF;
}

#nutri_titulo h1{
    font-family: 'Overlock', cursive;
    font-size: 80px;
    font-size: 4rem;
}

#nutricion{
    width: 100%;
    background-color: #FBF2EF;
  }

#nutri_texto{
    justify-content: center;
}

#nutri_texto p{
    font-family: 'Overlock', cursive;
    font-size: 20px;
    text-align: justify;
    padding: 15px;
    padding-left: 0px;
    margin-right: 50px;
    margin-top: 50px;
  }

#nutri_texto ul{
    font-family: 'Overlock', cursive;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
#nutricion img{
    width: 80%;
    background-size: cover;
    padding: 20px;
    border-radius: 50%;
    margin: 20px;
    margin-left: 50px;
  }

/*FOOTER*/
footer {
  background-color: #a27e70;
  font-family: 'Overlock', cursive;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  width: 100%;
  height: 100px;
  color: black;
  margin-top: 0px;
}
