/* RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
          }
body{
   background-color: #FBF2EF;
}
/* Top*/
.encabezado{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    padding: 1%;
 }
 .encabezado h1{
    color:black;
    opacity: 0.8;
    font-family: 'Overlock', cursive;
    font-size: 70px;
    animation-duration: 3s;
    padding: 25px;
}

.encabezado img{
    width: 15%;
    height: 15%;
    margin-top: 20px;
    border-radius: 50%;
    filter:opacity(0.8);
    /*Animacion APARECER logo*/
    animation-duration: 2s;
    animation-name: aparecer;
}

 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

 /*Barra de navegacion de BS*/
.nav-link{
   color: black;
   font-weight: 600;
   font-family: 'Overlock', cursive;
   font-size: 20px;
 }
 
 .dropdown-menu{
   color: black;
   font-weight: 600;
   font-family: 'Overlock', cursive;
   font-size: 20px;
 }

 /*Presentacion SOBRE MI*/
 #presentacion{
   width: 100%;
   justify-content: center;
   padding: 15px;
}

#presentacion_texto{
   display:flex;
   flex-direction: column;
   background-color: #a27e70;
}

#presentacion_texto h1{
   color:black;
   opacity: 0.8;
   font-family: 'Overlock', cursive;
   font-size: 70px;
   margin-top: 60px;
   margin-left: 15px;
}

#presentacion_texto p{
   font-family: 'Overlock', cursive;
   font-size: 20px;
   text-align: justify;
   align-self: center;
   padding: 10px;
   margin: 10px;
}

#presentacion_img{
   padding: 0px;
   text-align: right;
   background-color: #a27e70;
}

/*Proverbio SM*/

.proverbio_sm{
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: #91BC52;
   padding: 10px;
   margin-bottom: 100px;
}

.proverbio_sm p{
   font-family: 'Overlock SC', cursive;
   font-size: 40px;
   text-align: center;
   align-self: center;
   padding: 10px;
   margin: 0px;
}

.proverbio_sm h3{
   font-family: 'Overlock', cursive;
   font-size: 28px;
   text-align: justify;
   align-self: center;
}


/*Mosaico de CARDS*/

#foto1{
   height: 300px;
}
#sahumerio{
   height: 600px;
}
.card-columns{
   margin-top: 40px;
   margin-left: 20px;
   margin-right: 20px;
}

.card.title{
   font-family:'Overlock', cursive;
   font-size: 28px;
}

.card.text{
   font-family:'Overlock', cursive;
   font-size: 17px;
}

/*FOOTER*/
footer {
   background-color: #a27e70;
   font-family: 'Overlock', cursive;
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0px 50px;
   width: 100%;
   height: 100px;
   color: black;
   margin-top: 0px;
}